h1, h2 {
  margin: 0;
}

#lg-heading {
  font-size: 2rem;
}

#sm-heading {
  font-size: 0.8rem;
  margin: 10px 5px;
  font-weight: bold;
}

.btn-floating {
  margin-top: 14px;
}

/* Hide or Show From input */
.show {
  display: block;
}

.hide {
  display: none;
}

.border {
  border: 1px dashed;
}

#right-head {
  margin-left: 51px;
}

#my-card {
  margin-top: 60px;
}


#list li {
  display: block;
  padding: 20px 10px;
  font-size: 0.7rem;
  border-bottom: 1px solid #ccc;
}

#list li label span {
  font-size: 1.2rem;
}
